@import '_vars.scss';

* {
  // border: solid 0.5px green;
}

body, html { 
  margin: 0;
}

a {
  color: $primary-light-blue;
  // text-decoration: unset;
  transition: all 500ms linear;
  display: inline-block;
  &:hover {
    text-decoration: none;
    // transform: translate(10px, 0);
    color: $primary-light-blue;
  }
}

img {
  margin: 1.5%;
}

h4 {
  margin: 2% 1% 1% 1%;
}


#astro-on-tap {
  width: 75%;
  justify-self: center;
  display: block;
  margin: auto;
}

#img-ambassador {
  width: 30%;
}

#img-ioyh {
  width: 30%;
}

.flex-div {
  display: flex;
  align-items: center;
}



body {
  display: block;    
  background-color: $primary-gray;
  color: white;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assests/images/photo-1523336235051-4496f02d079a.jpeg);
    width: 100%;
    height: 50%;

    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.2) blur(1.5px);
  }
}

nav {
  position: fixed;
  top: 0;
  max-width: inherit;
  z-index: 2;
  width: 98%;
  background-color: $primary-off-white;
  padding: 0 1% 0 1%;
  margin: 0;

  #nav-bar {
    max-width: 1080px;
    margin: auto;
  
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;

    #nav-logo {
      position: relative;
      padding: 2%;
      margin: 0 2% 0 20%;
      // height: 100%;
      width: 85%;

      @media only screen and (max-width: 800px) {
        width: 100%;
      }
    }
    
    
    
    ul {
      display: grid;
      margin-right: 1%;
      grid-template-columns: repeat(auto-fill, 100px);
      
      li {
        text-align: center;
        list-style-type: none;
        list-style-position: unset;
        display: inline;
        margin: 0.1vw;
        padding: 5px;
        border: none;
        border-radius: 5px;
        background-color: $primary-gray;
        
        &:hover {
          background-color: gray;
        }
      }
    }
  }
}



main {
  margin: auto;
  max-width: 1080px;
  padding: 2%;
  position: relative;
  top: 100px;
  display: grid;
  grid-auto-columns: 20%;
  // grid-
  // justify-items: flex-start;
  align-items: flex-start;

    @media only screen and (max-width: 615px) {
      grid-auto-columns: 100%;
    }  


  header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 375px;
    // height: 35vh;
    grid-column: 1 / span 5;
    
    h1 {
      padding-bottom: 50px;
    }

    @media only screen and (max-width: 800px) {
      h1 {
        padding-bottom: 100px;
        width: 50%;
      }
    }

    @media only screen and (max-width: 615px) {
    grid-column: 1;
      
    }  

  }

  #mission {
    grid-column: 1 / 4;
    // grid-row: 2 / 3;
    // height: 150px;
    @media only screen and (max-width: 615px) {
      grid-column: 1;
      grid-row: auto;
    }  

  }

  #outreach-programs {
    grid-column: 3 / 6;
    grid-row: 3;
    justify-content: flex-start;
    text-align: right;

    article {
      max-width: 500px;
      display: inline-block;
      img {
        float: right;
        // border: solid 3px black;
      }
    }

    @media only screen and (max-width: 615px) {
      grid-column: 1;
      grid-row: auto;
    }  

  }

  #media {
    grid-column: 1 / span 2;
    grid-row: 3;
    @media only screen and (max-width: 615px) {
      grid-column: 1;
      grid-row: auto;
    }  
  }

  #donations {
    grid-column: 2 / 5;
    grid-row: 4;
    align-self: flex-end;

    h3 {
      text-align: center;
      margin-bottom: 5px;
    }
    p {
      margin-top: 5px;
      padding: 1vw;
      text-indent: 1vw;
    }
    @media only screen and (max-width: 615px) {
      grid-column: 1;
      grid-row: auto;
    }  
  }
}

footer {
  grid-column: 1 / 6;
  grid-row: 5;
  position: relative;
  text-align: center;
  // display: block;
  // grid-row: 6 / span 1;
  @media only screen and (max-width: 615px) {
      grid-column: 1;
      grid-row: auto;
    }  
}
